*target
*.lock
notes
zz_archive
!b_tests/data/*
!c_assess_inf/output/*
!a_data/alpaca/slice_100/alpaca_prx_style1_slice1.json
!a_data/alpaca/slice_100/*
*.sif
logs
b_tests/data/*
a_data/mmlu/all.json
a_data/alpaca/original
a_data/alpaca/slice_1k
a_data/preproc/rephras/target
