*target
*.lock
*.sif
notes
notes*
*_bckp
zz_archive
logs
*/__pycache__
h_internals/src/__pycache__

b_tests/data/*

a_data/alpaca/original
a_data/alpaca/slice_1k
a_data/preproc/rephras/target
a_data/preproc/alpaca_sanity
a_data/sqlite

a_data/alpaca/x*
a_data/alpaca/merge_instructs/bolastto.json
a_data/alpaca/merge_instructs/coobsyvo.json
a_data/alpaca/merge_instructs/exlesp.json
a_data/alpaca/original
a_data/alpaca/prxed
a_data/alpaca/slice_100
a_data/alpaca/un_prxed
a_data/alpaca/slice_100/special_char_slice*.json
a_data/alpaca/slice_500

a_data/gsm8k/original
a_data/gsm8k/prxed
a_data/gsm8k/prxed_main_slice_100

a_data/mmlu/unselected
a_data/mmlu/all.json
a_data/mmlu/moral_scenarios_prxed_500
a_data/mmlu/prxed
a_data/mmlu/prxed_moral_only82
a_data/mmlu/selection_original
a_data/mmlu/prxed_moral_500
a_data/mmlu/prxed_moral_500_scenarios_slice_100


d_gui_backup
xd_gui

c_assess_inf/output/gsm8k_answer_scores
c_assess_inf/output/mmlu_answer_scores

c_assess_inf/output/alpaca_answer_scores/gemma-2-2b-it
c_assess_inf/output/alpaca_answer_scores/Qwen1.5-1.8B
c_assess_inf/output/alpaca_prxed/gemma-2-2b-it
c_assess_inf/output/alpaca_prxed/gemma-2-9b-it/answers
c_assess_inf/output/alpaca_prxed/gemma-2-9b-it/scores*

c_assess_inf/output/gsm8k/Qwen1.5-1.8B/scores_slice_100_in_gen
c_assess_inf/output/alpaca_prxed/gemma-2-9b-it/answers_slice_100
c_assess_inf/output/alpaca_prxed/gemma-2-9b-it/scores_slice_100
c_assess_inf/output/alpaca_prxed/Qwen1.5-1.8B/answers/extra.json
c_assess_inf/output/alpaca_prxed/Qwen1.5-1.8B/answers_slice_250
c_assess_inf/output/alpaca_prxed/Qwen1.5-1.8B/scores_slice_100
c_assess_inf/output/alpaca_prxed/Qwen1.5-1.8B/scores_issues
c_assess_inf/output/alpaca_prxed/Qwen1.5-1.8B/answers_slice_100_wissues
c_assess_inf/output/alpaca_prxed/Qwen1.5-1.8B/answers_slice_100
c_assess_inf/output/alpaca_prxed/Qwen1.5-1.8B/all.json
c_assess_inf/output/alpaca_prxed/Qwen1.5-1.8B/answers
c_assess_inf/output/alpaca_prxed/Qwen1.5-1.8B

c_assess_inf/output/gsm8k_answer_scores/gemma-2-2b-it/all.json
c_assess_inf/output/gsm8k/gemma-2-9b-it/answers
c_assess_inf/output/gsm8k/gemma-2-2b-it/answers
c_assess_inf/output/gsm8k/gemma-2-2b-it/scores
c_assess_inf/output/gsm8k/gemma-2-2b-it/slice_100
c_assess_inf/output/gsm8k/gemma-2-2b-it/answers_some
c_assess_inf/output/gsm8k/gemma-2-2b-it/scores_issues
c_assess_inf/output/gsm8k/gemma-2-2b-it/scores_slice_100
c_assess_inf/output/gsm8k/gemma-2-2b-it/answers_slice_100
c_assess_inf/output/gsm8k/Qwen1.5-1.8B/slice_100
c_assess_inf/output/gsm8k/Qwen1.5-1.8B/answers
c_assess_inf/output/gsm8k/Qwen1.5-1.8B/scores_issues
c_assess_inf/output/gsm8k/Qwen1.5-1.8B/scores
c_assess_inf/output/gsm8k/Qwen1.5-1.8B/scores_slice_100
c_assess_inf/output/gsm8k/Qwen1.5-1.8B/answers_slice_100

c_assess_inf/output/mmlu/gemma-2-2b-it/answers
c_assess_inf/output/mmlu/gemma-2-2b-it/answers_slice_100
c_assess_inf/output/mmlu/gemma-2-2b-it/scores_slice_100
c_assess_inf/output/mmlu/gemma-2-2b-it/formers2_answers
c_assess_inf/output/mmlu/gemma-2-2b-it/answers_newest
c_assess_inf/output/mmlu/gemma-2-9b-it/answers
c_assess_inf/output/mmlu/gemma-2-9b-it/answers_slice_100
c_assess_inf/output/mmlu/unspec_gemma-2-2b-it
c_assess_inf/output/mmlu/Qwen1.5-1.8B
c_assess_inf/output/mmlu/gemma-2-2b-it/scores
c_assess_inf/output/mmlu/gemma-2-2b-it/scores_slice_100_issues

c_assess_inf/hpc/commands.md
c_assess_inf/hpc/xcommands.md

hpcnotes
envs

hf_cache/
output_bckp/
pip_cache/
venv/
xdg_cache/
tmp/
